.logo {
  text-align: center;
  padding: 0.67em;
  margin: 0;
}

.logo-nsu {
  display: inline-block;
  background: transparent url(../assets/logo.svg) no-repeat;
  width: 255px;
  height: 76px;
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
